body {
  margin: 0px;
  padding-bottom: 40px;
  background-color: #1c254e;
  font-family: kooky;
}

.gold {
  border: 8px solid gold;
}

@font-face {
  font-family: "kooky";
  src: url("./cartoonist_kooky.ttf");
}
