body {
  margin: 0px;
  padding-bottom: 40px;
  background-color: #1c254e;
  font-family: kooky;
}

.gold {
  border: 8px solid gold;
}

@media screen and (max-width: 970px) {
  .smaller-text {
    font-size: 0.6rem;
  }
}

.approval {
  cursor: pointer;
}

.padding {
  padding-top: 10px;
  padding-right: 20px;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 970px) {
  .padding {
    padding-top: 5px;
    padding-right: 20px;
    width: 1.1em;
    height: auto;
  }
}

@font-face {
  font-family: "kooky";
  src: url("./cartoonist_kooky.ttf");
}
